obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
bin/Debug/Project-kindergarten.vshost.exe
bin/Debug/Project-kindergarten.vshost.exe.manifest
bin/Debug/Project-kindergarten.exe
bin/Debug/Project-kindergarten.pdb
obj/x86/Debug/Project-kindergarten.csproj.FileListAbsolute.txt
obj/x86/Debug/Project-kindergarten.csproj.GenerateResource.Cache
obj/x86/Debug/Project-kindergarten.exe
obj/x86/Debug/Project-kindergarten.pdb
obj/x86/Debug/Project_kindergarten.loginmenu.resources
bin/Debug/log.txt
